section.wrapper{
    text-align: center;
}
canvas {
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
}

#nippleZone{
    width: 355px;
    height: 355px;
    background-color: #ffffff;
    outline-color: #000000;
    outline-style: dashed;
    outline-width: 5px;
    position:absolute;
    margin-left: 25px;
    margin-top: 25px;
}


#the_time{
    font-weight:bold;
    margin-left: 45%;
}

.button {
    background-color: #000000;
    border: none;
    box-shadow: 0 9px#505050;
    padding: 30px;
    text-align: center;
    font-size: 28px;
   
  }
  
  .button:hover {
    background-color: #3F3F3F;
  }
  
  .button:active {
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(5px);
  }
  
  .button .active {
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(5px);
  }
  

  .red {
    color: #FF0000;
  }
  
  .green {
    color: #00FF00;
  }
  
  .blue {
    color: #0000FF;
  }
  
  .yellow {
    color: #FFFF00;
  }
  
  .round {
    border-radius: 50%;
  }

  .pad{
    margin-left: 190px;
    margin-top: -60px;
  }

